main .highlight {
  max-width: 1180px;
  margin: auto;
  position: relative;
  padding: 1.75rem 0 1.75rem 1rem;
  background-color: var(--overlay-background-color);
  border-radius: .25em;
  overflow-x: auto;
}

main .highlight button{
  position: absolute;
  top: 5px;
  right: 20px;
}

main .highlight pre {
  overflow-y: auto;
}

main .highlight.text pre {
  overflow-y: hidden;
  white-space: pre-wrap;
}

main .highlight code {
  font-size: var(--type-detail-m-size);
}