/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
  height: 100vh;
}

main .hero .content {
  max-width: 1200px;
  position: absolute;
  top:40%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .hero .content .seperator {
  width: 128px;
  height: 5px;
  display: block;
  content: "";
  background-color: #ffc719;
  transition: width .4s ease-in-out;
  margin: auto;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
