main .hero-container>div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

main .hero {
  color: var(--background-color);
  background-color: var(--main-light-background);
  top: 0;
  position: sticky;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

main .hero.fullscreen .hero-body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}


main .hero.fullscreen picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}

main .hero.fullscreen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  /* z-index: -999; */

  /* add */
  /* position: relative; */
  z-index: -1;
}

.hero [data-align="center"] {
  text-align: center;
}

/* add seperator */
main .hero.fullscreen .content .seperator {
  width: 128px;
  height: 5px;
  display: block;
  content: "";
  background-color: #ffc719;
  transition: width .4s ease-in-out;
  margin: auto;
}

main .hero.fullscreen .content {
  max-width: 1200px;
  position: absolute;
  top: 40%;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main .hero.fullscreen {
  min-height: 300px;
  height: 100vh;
}

main .hero.featured {
  align-items: center;
  justify-content: space-around;
  color: black;
  height: unset;
  padding: unset;
  margin: unset;
  height: 600px;
}

main .hero.hero.featured > div {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

main .hero.featured img {
  box-shadow: 20px 20px var(--main-accent-color);
  width: 660px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

main .hero.featured .content {
  max-width: 500px;
  padding-right:22px;
  margin-right: 10px;
}

main .hero.featured .content > p {
  font-size: smaller;
}