main .imagelist {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  justify-content: center;
}

main .imagelist .card {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  flex-grow: 1;
  padding: 20px;
  margin: 20px;
}

main .imagelist h3 {
  font-size: var(--heading-font-size-m);
}

main .imagelist p::before {
  content: "\a";
  white-space: pre;
}

main .imagelist p {
  font-size: var(--body-font-size-m);
}

main .imagelist .card:hover {
  background-color: #eee;
}

main .imagelist .card picture {
  background-color: red;
}

main .imagelist .card img {
  object-fit: cover;
  max-width: 350px;
}

main .imagelist .card .content-column {
  width: 100%;
}

main .imagelist a:hover {
  text-decoration: none;
  color: var(--text-color);
}

main .imagelist a:any-link {
  color: var(--text-color);
  text-decoration: none;
}